<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relevé de Cotes</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            font-size: 12px;
            margin: 20px;
        }
        .header {
            text-align: center;
            margin-bottom: 10px;
        }
        .table-container {
            border-collapse: collapse;
            width: 100%;
            margin-bottom: 20px;
        }
        .table-container, .table-container th, .table-container td {
            border: 1px solid black;
        }
        .table-container th, .table-container td {
            padding: 5px;
            text-align: center;
        }
        .header-title {
            font-size: 16px;
            font-weight: bold;
        }
        .section-title {
            text-align: center;
            font-weight: bold;
            margin-top: 10px;
            margin-bottom: 5px;
        }
        .signature {
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
        }

    
        @media print {
            .no-print { display: none; }
        }
    
    </style>
</head>
<body>

<div class="header">
    <div>République Démocratique du Congo</div>
    <div>Enseignement Supérieur et Universitaire</div>
    <div>INSTITUT SUPERIEUR DE COMMERCE</div>
    <div>I.S.C - GOMA</div>
    <div>E-mail: admin@iscgoma.ac.cd | Téléphone: +243 990 365 393</div>
    <hr>
    <div class="header-title">RELEVE DE COTES N° ISC-GOM/SGI/......../2024</div>
</div>

<div>
    <table style="width: 100%;">
        <tr>
            <td><b>Nom:</b> ALI</td>
            <td><b>Domaine:</b> Sciences Economiques et de Gestion</td>
        </tr>
        <tr>
            <td><b>PostNom:</b> RASHIDI</td>
            <td><b>Filière:</b> Gestion Commerciale et Administrative</td>
        </tr>
        <tr>
            <td><b>Prénom:</b> ABDOUL</td>
            <td><b>Mention:</b> Gestion Informatique</td>
        </tr>
        <tr>
            <td><b>Lieu de naissance:</b> KINDU</td>
            <td><b>Promotion:</b> Première année de Licence</td>
        </tr>
        <tr>
            <td><b>Date de naissance:</b> 09/07/2002</td>
            <td><b>Année Académique:</b> 2022-2023</td>
        </tr>
        <tr>
            <td><b>Numéro matricule:</b> I18MS023C3603SG</td>
            <td></td>
        </tr>
    </table>
</div>
<div class="section-title">PREMIER SEMESTRE</div>
<table class="table-container">
    <thead>
        <tr>
            <th>N°</th>
            <th>CODE UE</th>
            <th>MATIERES (E.C)</th>
            <th>CATEGORIE</th>
            <th>CREDIT</th>
            <th>COTE /20</th>
            <th>CREDITS CAPITALISES</th>
            <th>NOTES</th>
            <th>VALIDATION</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>COMM111</td>
            <td>Technique de Communication écrite et Orale</td>
            <td></td>
            <td>3</td>
            <td>8</td>
            <td>3</td>
            <td>F</td>
            <td>Validé</td>
        </tr>
        <tr> 
            <td>2</td> 
            <td></td>
            <td>Anglais Technique1</td>
            <td></td>
            <td>3</td>
            <td>15</td>
            <td>3</td>
            <td>C</td>
            <td>Validé</td>
        </tr>
        <tr> 
            <td></td>
            <td colspan="2">COMMUNICATION 1</td>
            <td>B</td>
            <td>6</td>
            <td>11,5</td>
            <td>6</td>
            <td>E</td>
            <td></td>
        </tr>
        <tr> 
        <td>3</td>
        <td>INF112</td>
        <td>Informatique Générale</td>
        <td></td>
        <td>3</td>
        <td>10</td>
        <td>3</td>
        <td>E</td>
        <td>Validé</td>
        </tr>
        <tr> 
        <td>4</td> 
        <td></td>
        <td>Bureautique</td>
        <td></td>
        <td>2</td>
        <td>8</td>
        <td>2</td>
        <td>F</td>
        <td>Validé</td>
        </tr>
        <tr> 
        <td></td>
        <td colspan="2">Informatique</td>
        <td>A</td>
        <td>5</td>
        <td>9,2</td>
        <td>5</td>
        <td>F</td>
        <td></td>
        </tr>
        <tr> 
        <td>5</td> 
        <td>SAG113</td>
        <td>Statistique Descriptive</td>
        <td></td>
        <td>4</td>
        <td>11</td>
        <td>4</td>
        <td>E</td>
        <td>Validé</td>
        </tr>
        <tr> 
        <td></td>
        <td colspan="2">Statistique Appliquée à la Gestion</td>
        <td>B</td>
        <td>4</td>
        <td>11,0</td>
        <td>4</td>
        <td>E</td>
        <td></td>
        </tr>
        <tr>
        <td>6</td>
        <td>MAP114</td>
        <td>Algèbre et Analyse</td>
        <td></td>
        <td>5</td>
        <td>10</td>
        <td>5</td>
        <td>E</td>
        <td>Validé</td>
        </tr>
        <tr>
        <td>7</td> 
        <td></td>
        <td>Mathématique Appliquée à l'Informatique</td>
        <td></td>
        <td>3</td>
        <td>8</td>
        <td>3</td>
        <td>F</td>
        <td>Validé</td>
        </tr>
        <tr>
        <td></td>
        <td colspan="2">Mathématique Appliquée</td>
        <td>B</td>
        <td>8</td>
        <td>9,3</td>
        <td>8</td>
        <td>F</td>
        <td></td>
        </tr>
        <tr>
        <td>8</td>
        <td>MAP115</td>
        <td>Education à la citoyenneté</td>
        <td></td>
        <td>3</td>
        <td>9</td>
        <td>3</td>
        <td>F</td>
        <td>Validé</td>
        </tr>
        <tr> 
        <td>9</td> 
        <td><br></td>
        <td>Elements de droit civil et constitutionnel</td>
        <td></td>
        <td>4</td>
        <td>12</td>
        <td>4</td>
        <td>D</td>
        <td>Validé</td>
        </tr>
        <tr>
        <td></td>
        <td colspan="2">Valeurs, Principes et Symboles de la République</td>
        <td>B</td>
        <td>7</td>
        <td>10,7</td>
        <td>7</td>
        <td>E</td>
        <td></td>
        </tr>
        <!-- Repeat rows for each subject as needed -->
        <tr>
            <td></td>
            <td colspan="2"><b>Moyenne Semestre</b></td>
            <td></td>
            <td>30</td>
            <td>10,38</td>
            <td>30</td>
            <td>E</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td colspan="2"><b>Décision</b></td>
            <td colspan="5"></td>   
        </tr>
        </tbody>
        </table>
        <div class="section-title">DEUXIEME SEMESTRE</div>
        <table class="table-container">
        <thead>
        <tr>
            <th>N°</th>
            <th>CODE UE</th>
            <th>MATIERES (E.C)</th>
            <th>CATEGORIE CREDIT</th>
            <th>CREDIT</th>
            <th>COTE /20</th>
            <th>CREDITS CAPITALISES</th>
            <th>NOTES</th>
            <th>VALIDATION</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>10</td>
            <td>SEA1121</td>
            <td>Système d'Exploitation</td>
            <td></td>
            <td>6</td>
            <td>14</td>
            <td>6</td>
            <td>C</td>
            <td>Validé</td>
        </tr>
        <tr>
            <td></td>
            <td colspan="2">Système d'Exploitation et Algorithmique</td>
            <td>A</td>
            <td>6</td>
            <td>14,0</td>
            <td>6</td>
            <td>C</td>
            <td></td>
        </tr>
        <tr>
            <td>11</td>
            <td>MNG1122</td>
            <td>Introduction au Management</td>
            <td></td>
            <td>3</td>
            <td>8</td>
            <td>3</td>
            <td>F</td>
           <td>Validé</td>
        </tr>
        <tr> 
            <td>12</td> 
            <td></td>
            <td>Gestion Marketing</td>
            <td></td>
            <td>3</td>
            <td>12</td>
            <td>3</td>
            <td>D</td>
            <td>Validé</td>
        </tr>
        <tr>
            <td></td>
            <td colspan="2">Management 1</td>
            <td>B</td>
            <td>6</td>
            <td>10,0</td>
            <td>6</td>
            <td>E</td>
            <td></td>
        </tr>
        <tr>
            <td>13</td>
            <td>LPR1123</td>
            <td>Algorithmique</td>
            <td></td>
            <td>4</td>
            <td>10,5</td>
            <td>4</td>
            <td>E</td>
           <td>Validé</td>
        </tr>
        <tr> 
            <td>14</td> 
            <td><br></td>
            <td>Programmation Graphique et Evenementièlle</td>
            <td></td>
            <td>4</td>
            <td>10,5</td>
            <td>4</td>
            <td>E</td>
            <td>Validé</td>
        </tr>
        <tr>
            <td></td>
            <td colspan="2">Langage  de Programmation 1 </td>
            <td>A</td>
            <td>8</td>
            <td>10,5</td>
            <td>8</td>
            <td>E</td>
            <td></td>
        </tr>
        <tr>
            <td>15</td>
            <td>LA11124</td>
            <td>Programmation orienté objet 1</td>
            <td></td>
            <td>3</td>
            <td>11</td>
            <td>3</td>
            <td>E</td>
           <td>Validé</td>
        </tr>
        <tr> 
            <td>16</td> 
            <td><br></td>
            <td>Laboratoire Informatique</td>
            <td></td>
            <td>3</td>
            <td>10,5</td>
            <td>3</td>
            <td>E</td>
            <td>Validé</td>
        </tr>
        <tr>
            <td></td>
            <td colspan="2">Laboratoire Informatique</td>
            <td>A</td>
            <td>6</td>
            <td>10,8</td>
            <td>6</td>
            <td>E</td>
            <td></td>
        </tr>
        <tr>
            <td>17</td>
            <td>IPR1125</td>
            <td>Pratique Professionnelle 1</td>
            <td></td>
            <td>2</td>
            <td>16</td>
            <td>2</td>
            <td>C</td>
           <td>Validé</td>
        </tr>
        <tr> 
            <td>18</td> 
            <td></td>
            <td>Stage d'observation</td>
            <td></td>
            <td>2</td>
            <td>15</td>
            <td>2</td>
            <td>C</td>
            <td>Validé</td>
        </tr>
        <tr>
            <td></td>
            <td colspan="2">Insertion professionnelle 1 </td>
            <td>A</td>
            <td>4</td>
            <td>15,5</td>
            <td>4</td>
            <td>C</td>
            <td></td>
        </tr>
        <!-- Repeat rows for each subject as needed -->
        <tr>
            <td></td>
            <td colspan="2"><b>Moyenne Semestre 2</b></td>
            <td></td>
            <td>30</td>
            <td>11,3</td>
            <td>30</td>
            <td>E</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td colspan="2"><b>Moyenne Cat A</b></td>
            <td></td>
            <td>29</td>
            <td>11,99</td>
            <td>29</td>
            <td>E</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td colspan="2"><b>Moyenne Cat B</b></td>
            <td></td>
            <td>31</td>
            <td>10,5</td>
            <td>31</td>
            <td>E</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td colspan="2"><b>Décision</b></td>
            <td></td>
            <td colspan="4">Admis</td>
            <td>54,2</td>
        </tr>
    </tbody>
</table>
<div class="signature">
    <div>Le Chef de Section</div>
    <div>Fait à Goma, le 09/09/2024</div>
    <div>Le Secrétaire Général Académique</div>
</div>


 <!-- Boutons de gestion -->
 <div class="no-print">
    <button onclick="imprimerInformation()">Imprimer</button>
    <button onclick="telechargerPDF()">Télécharger en PDF</button>
    <button onclick="partager()">Partager</button>
</div>

<script>
    function imprimerInformation() {
        window.print();
    }

    function telechargerPDF() {
        // Vous pouvez utiliser une bibliothèque comme jsPDF pour générer un PDF
        const doc = new jsPDF();
        const elementHTML = document.body.innerHTML;
        doc.fromHTML(elementHTML, 15, 15, { 'width': 170 });
        doc.save('Rélevé_code.pdf');
    }

    function partager() {
        if (navigator.share) {
            navigator.share({
                title: 'Informations sur les Résultats',
                text: 'Voici les Résultats...',
                url: window.location.href
            }).then(() => {
                console.log('Document partagé avec succès');
            }).catch((error) => console.error('Erreur lors du partage:', error));
        } else {
            alert('Votre navigateur ne supporte pas la fonction de partage.');
        }
    }
</script>

<!-- Ajoutez la bibliothèque jsPDF -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>

</body>
</html>
