{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static '/IscApp/css/footer_style.css' %}">
  <script src="{% static '/IscApp/js/footer_main.js' %}" defer></script>

  <title>Pied de page IscApp</title>
  
</head>
<body>

<footer id="footer-part">
  <br><br>
  <hr>
  
  <!-- Ajouter le widget de Radio Okapi ici -->
 
  <div class="col-lg-12 col-md-12" style="padding: 0;">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.1036095645272!2d29.227210773976708!3d-1.6798560361808328!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x19dd0f5959125971%3A0x7ccd8abddd0e4a2a!2s86CG%2B9HQ%2C%20Goma!5e0!3m2!1sfr!2scd!4v1720431959455!5m2!1sfr!2scd" style="width: 100%;" height="500" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
  
  <div class="footer-top pt-40 pb-70">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-4">
          <div class="footer-about mt-4">
            <div class="logo">
         <!-- Footer Section -->
         <div class="footer">
          <div class="logo">
            <a <img src="{% static 'IscApp/images/logoisc.jpg' %}" alt="Logo ISC" class="img-fluid" style="max-width: 10px;"></a>
          </div>
          <p>Former et Offrir des expériences qui changent la vie grâce à l’éducation. Classe adaptée à votre vie bien remplie.</p>
      </div>
  </div>
  <script src="signup.js"></script>
            <ul class="mt-20">
              <li><a href="https://facebook.com" target="_blank"><i class="fa fa-facebook-f"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
              <li><a href="https://whatsapp.com" target="_blank"><i class="fa fa-whatsapp"></i></a></li>
            </ul>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="footer-link mt-40">
            <div class="footer-title pb-25">
              <h6>Plan du site</h6>
            </div>
            <ul>
              <li><a href="#"><i class="fa fa-angle-right"></i>Accueil</a></li>
              <li><a href="#"><i class="fa fa-angle-right"></i>Découvrir l'ISC</a></li>
              <li><a href="#"><i class="fa fa-angle-right"></i>Recherche & Labo</a></li>
              <li><a href="#"><i class="fa fa-angle-right"></i>Formation</a></li>
              <li><a href="#"><i class="fa fa-angle-right"></i>Bibliothèque</a></li>
            </ul>
            <ul>
              <li><a href="#"><i class="fa fa-angle-right"></i>Scolarité</a></li>
              <li><a href="#"><i class="fa fa-angle-right"></i>Services</a></li>
              <li><a href="#"><i class="fa fa-angle-right"></i>Vie Etudiante</a></li>
              <li><a href="#"><i class="fa fa-angle-right"></i>Délibération</a></li>
              <li><a href="#"><i class="fa fa-angle-right"></i>Bureau des oeuvres Estidiantins</a></li>
            </ul>
          </div>
        </div>

        <div class="col-lg-2 col-md-6 col-sm-6">
          <div class="footer-link support mt-40">
            <div class="footer-title pb-25">
              <h6>Assistance</h6>
            </div>
            <ul>
              <li><a href="#"><i class="fa fa-angle-right"></i>Budget & Controle</a></li>
              <li><a href="#"><i class="fa fa-angle-right"></i>Police</a></li>
              <li><a href="#"><i class="fa fa-angle-right"></i>Apparitorat</a></li>
              <li><a href="#"><i class="fa fa-angle-right"></i>Recours</a></li>
              <li><a href="#"><i class="fa fa-angle-right"></i>Alumni</a></li>
            </ul>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="footer-address mt-40">
            <div class="footer-title pb-25">
              <h6>Contacts</h6>
            </div>
            <ul>
              <li>
                <div class="icon">
                  <i class="fa fa-home"></i>
                </div>
                <div class="cont">
                  <p>Avenue des écoliers (ex.24 novembre), Commune de Goma, Ville de Goma/RD Congo</p>
                </div>
              </li>
              <li>
                <div class="icon">
                  <i class="fa fa-phone"></i>
                </div>
                <div class="cont">
                  <p>+243 97 590 44 25</p>
                </div>
              </li>
              <li>
                <div class="icon">
                  <i class="fa fa-envelope-o"></i>
                </div>
                <div class="cont">
                  <p>contact@iscgoma.ac.cd</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-copyright pt-10 pb-25">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="copyright text-md-left text-center pt-15">
            <p><a target="_blank" href="https://www.iscGoma.ac.cd/">© COPYRIGHT ISC-Goma- pour votre meilleure Formation</a></p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="copyright text-md-right text-center pt-15">
            <!-- Autres informations -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Back to top button -->
  <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>
</footer>


<script src="{% static 'IscApp/js/retour-haut.js' %}"></script>

</body>
</html>
