<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   {%block Title%} DELIBERATION{%end block Title%}
   <link rel="stylesheet" type="text/css" href="tstyle.css">
<style>
  table {
    width: 100%;
    border-collapse: collapse;
  }
  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
  }
</style>
</head>
<body>
    {%block Content%}
    
    <a href="#" onclick="mojarra.jsfcljs(document.getElementById('j_idt38'),{'j_idt38:j_idt50':'j_idt38:j_idt50'},'');return false"><span class="label" style="font-size: 80%;">Aide</span></a>
    <br>
    <br>
    <label for="faculté">Année Académique:</label>
   
    <select>
       <option value="choix1">2024-2025</option>
       <option value="choix2">2023-2024</option>
       <option value="choix3">2022-2023</option>
       <option value="choix4">2021-2022</option>
       <option value="choix4">2020-2021</option>

    </select><br>

    <p>Promotion :</p>

    <p>Deuxième Session, fermée :</p>
    <hr>

    <p>Total crédit : </p>
    <p>crédits validés : </p>
    <p>crédit non validés: </p>

    <hr>

    <p>Moyenne annuelle : </p>
    <p>Mension : </p>
    <p>Total TPE(0%) : </p>
    <p>Total Cours : </p>


    <table>
        <thead>
          <tr>
            <th>Numéro</th>
            <th>Cours</th>
            <th>crédits</th>
            <th>Moyenne sur 20</th>
            <th>Mension</th>
            <th>Décision</th>
          </tr>
        </thead>
        <tbody>
          <!-- Lignes du tableau -->
          <tr>
            <td>1</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>2</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
      
           <tr>
            <td>3</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
      
           <tr>
            <td>4</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
      
      
           <tr>
            <td>5</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
      
           <tr>
            <td>6</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          
        </tbody>
      </table>
    <h6>S'il vous plait, veuillez contacter le sécrétaire de la section au cas ou vos informations ne sont pas conforme!!</h6>
{%end block content%}
</body>
</html>


