
{% block content %}
    <title>Inscription Etudiant</title>

    
    <div class="row">
        <div class="col-sm-4">
            <h2 class= "text-center alert  alert alert-info"> Inscription Etudiant </h2>
      <hr>
                <form action=""  method="POST">

                   {% csrf_token %}
                   {{form.as_p}}
                   <a class="btn btn-primary" href="{Etudiant/'Deliberation.html'}" role="button">S'inscrire</a>
                   <a class="btn btn-primary" href="{IscApp/ 'home.html'}" role="button">Se connecter</a>
                   
                  

                </form>
        </div>
        <div."col-sm-8">
            <h4 class="text-center alert-info">Vérifier ses informations</h4>

             {% if stu %}

             {% else%}
             <h5 class="text-center alert-warning"> désolé vous n'etes pas inscrit ici !</h5>

             {% endif%}
        </div>
    </div>
    
{% endblock content%}