<!DOCTYPE html>
<html>
<head>
    <title>Tableau de Bord</title>
</head>
<body>
    <h2>Bienvenue, {{ user.username }}</h2>
    <p><a href="{% url 'logout' %}">Se déconnecter</a></p>
    <!-- Ajoutez les fonctionnalités ici -->
    <ul>
        <li><a href="#">Consulter les résultats</a></li>
        <li><a href="#">S'inscrire aux cours</a></li>
        <li><a href="#">Se désabonner du système</a></li>
        <li><a href="#">Envoyer un recours</a></li>
    </ul>
</body>
</html>
<!DOCTYPE html>
<html>
<head>
    <title>Tableau de Bord</title>
</head>
<body>
    <h2>Bienvenue, {{ user.username }}</h2>
    <p><a href="{% url 'logout' %}">Se déconnecter</a></p>
    <!-- Ajoutez les fonctionnalités ici -->
    <ul>
        <li><a href="#">Consulter les résultats</a></li>
        <li><a href="#">S'inscrire aux cours</a></li>
        <li><a href="#">Se désabonner du système</a></li>
        <li><a href="#">Envoyer un recours</a></li>
    </ul>
</body>
</html>
