<html>
  <body>
  {%load static%}

<footer id="footer-part">
  <link rel="stylesheet" href="{% static 'IscApp/css/styles.css' %}">

  <link rel="stylesheet" href="{% static 'IscApp/css/styles.css' %}">


  <link rel="stylesheet" href="{% static 'IscApp/css/bootstrap.css' }">
  <br>
  <br>
  <hr>

  <div class="col-lg-12 col-md-12" style="padding: 0;">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.1036095645272!2d29.227210773976708!3d-1.6798560361808328!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x19dd0f5959125971%3A0x7ccd8abddd0e4a2a!2s86CG%2B9HQ%2C%20Goma!5e0!3m2!1sfr!2scd!4v1720431959455!5m2!1sfr!2scd"style="width: 100%;" height="500" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
    
  </div>
  <hr>
  
         <div class="footer-top pt-40 pb-70">
         <div class="container">
  
  
                 <div class="row">
  
  
                <div class="col-lg-5 col-md-4">
                    <div class="footer-about mt-4">
                        <div class="logo">
                            <a href="#"><img src="images/logoisc.png" alt="Logo"></a>
                        </div>
                            <p>Former et Offrir des expériences qui changent la vie grâce à l’éducation. Classe adaptée à votre vie bien remplie.</p>
                                <ul class="mt-20">
                                  <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                  <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                  <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                </ul>
                            </div> <!-- footer about -->
                            </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="footer-link mt-40">
                            <div class="footer-title pb-25">
                                  <h6>Plan du site</h6>
                            </div>
                            <ul>
                                  <li><a href="#"><i class="fa fa-angle-right"></i>Accueil</a></li>
                                  <li><a href="#"><i class="fa fa-angle-right"></i>Découvrir l'ISC</a></li>
                                  <li><a href="#"><i class="fa fa-angle-right"></i>Recherche</a></li>
                                  <li><a href="#"><i class="fa fa-angle-right"></i>Formation</a></li>
                                  <li><a href="#"><i class="fa fa-angle-right"></i>Bibliothèque</a></li>
                            </ul>
                              <ul>
                                  <li><a href="#"><i class="fa fa-angle-right"></i>Scolarité</a></li>
                                  <li><a href="#"><i class="fa fa-angle-right"></i>Services</a></li>
                                  <li><a href="#"><i class="fa fa-angle-right"></i>Vie Etudiante</a></li>
                                  <li><a href="#"><i class="fa fa-angle-right"></i>Délibération</a></li>
                                  <li><a href="#"><i class="fa fa-angle-right"></i>Centre de langue</a></li>
                              </ul>
                          </div> <!-- footer link -->
                      </div>
                      <div class="col-lg-2 col-md-6 col-sm-6">
                          <div class="footer-link support mt-40">
                              <div class="footer-title pb-25">
                                  <h6>Assistance</h6>
                              </div>
                              <ul>
                                  <li><a href="#"><i class="fa fa-angle-right"></i>Service guidance</a></li>
                                  <li><a href="#"><i class="fa fa-angle-right"></i>Police</a></li>
                                  <li><a href="#"><i class="fa fa-angle-right"></i>Apparitorat</a></li>
                                  <li><a href="#"><i class="fa fa-angle-right"></i>Recours</a></li>
                                  <li><a href="#"><i class="fa fa-angle-right"></i>Alumni</a></li>
                              </ul>
                          </div> <!-- support -->
                      </div>
                      <div class="col-lg-3 col-md-6">
                          <div class="footer-address mt-40">
                              <div class="footer-title pb-25">
                                  <h6>Contacts</h6>
                              </div>
                              <ul>
                                  <li>
                                      <div class="icon">
                                          <i class="fa fa-home"></i>
                                      </div>
                                      <div class="cont">
                                          <p>Avenue des écoliers (ex.24 novembre), Commune de Goma, Ville de Goma/RD Congo
                                     </p>
                                      </div>
                                  </li>
                                  <li>
                                      <div class="icon">
                                          <i class="fa fa-phone"></i>
                                      </div>
                                      <div class="cont">
                                          <p>+243 97 590 44 25</p>
                                      </div>
                                  </li>
                                  <li>
                                      <div class="icon">
                                          <i class="fa fa-envelope-o"></i>
                                      </div>
                                      <div class="cont">
                                          <p>contact@iscGoma.cd</p>
                                      </div>
                                  </li>
                              </ul>
                          </div> <!-- footer address -->
                      </div>
                  </div> <!-- row -->
  
  
  
  
  
                  <div class="row">
                           <h6 style="color: #fff;margin-top: 20px;">&nbsp&nbsp&nbsp&nbsp&nbsp&nbspNOS FILIERES</h6>
                      <div class="col-lg-4 col-md-6 col-sm-6">
  
                          <div class="footer-link mt-60">
                              <div class="footer-title pb-25">
                                  <h6>Premier Cycle</h6>
                              </div>
                              <ul>
                                  <li><a href="#"><i class="fa fa-angle-right"></i>Sciences&nbspCommerciales & Financières</a></li>
            
                                  <li><a href="#"><i class="fa fa-angle-right"></i>Informatique (Programmation & Analyse & Réseaux)</a></li>
                                  <li><a href="#"><i class="fa fa-angle-right"></i>Fiscalité & Marketing.</a></li>
                              </ul>
                          </div> <!-- footer link -->
                      </div>
                      <div class="col-lg-2 col-md-6 col-sm-6">
                          <div class="footer-link support mt-40">
                              <div class="footer-title pb-25">
                                  <h6>Deuxième cycle</h6>
                              </div>
                              <ul>
                                  <li><a href="#"><i class="fa fa-angle-right"></i>Comptabilité</a></li>
                                  <li><a href="#"><i class="fa fa-angle-right"></i>Fiscalité</a></li>
                                  <li><a href="#"><i class="fa fa-angle-right"></i>Marketing</a></li>
                                  <li><a href="#"><i class="fa fa-angle-right"></i>Micro-finances</a></li>
                                  <li><a href="#"><i class="fa fa-angle-right"></i>Conception informatique</a></li>
                                  <li><a href="#"><i class="fa fa-angle-right"></i>Réseaux informatiques</a></li>
                                  <li><a href="#"><i class="fa fa-angle-right"></i>Duanne et assise</a></li>
                                
                              </ul>
                          </div> <!-- support -->
                      </div>
  
                       <div class="col-lg-2 col-md-6 col-sm-6">
                          <div class="footer-link support mt-40">
                              <div class="footer-title pb-25">
                                  <h6>Troisième cycle</h6>
                              </div>
                              <ul>
                                  <li><a href="#"><i class="fa fa-angle-right"></i>Comptabilité </a></li>
                                  <li><a href="#"><i class="fa fa-angle-right"></i>Gestion Informatique</a></li>
                                  <li><a href="#"><i class="fa fa-angle-right"></i>Finance & Banque</a></li>
                                  <li><a href="#"><i class="fa fa-angle-right"></i>Management & Marketing</a></li>
                                  <li><a href="#"><i class="fa fa-angle-right"></i>Duanne & assise</a></li>
                                </ul>
                            </div> <!-- support -->
                        </div>
                        </div>
                    </div> <!-- row -->
                </div> <!-- container -->
            </div> <!-- footer top -->
            <div class="footer-copyright pt-10 pb-25">
                <div class="container">
                    <div class="row">
                      <div class="col-md-8">
                          <div class="copyright text-md-left text-center pt-15">
                              <p><a target="_blank" href="https://www.iscGoma.ac.cd/">© COPYRIGHT ISC-Goma- pour votre meilleure Formation</a> </p>
                          </div>
                      </div>
                    <div class="col-md-4">
                    <div class="copyright text-md-right text-center pt-15">
                             
            </div>
            </div>
        </div> <!-- row -->
        </div> <!-- container -->
    </div> <!-- footer copyright -->
    </footer>    
      <!--====== FOOTER PART ENDS ======-->
     
      <!--====== BACK TO TOP PART START ======-->
      
      <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>
      
      <!--====== BACK TO TOP PART ENDS ======-->
      
  </body>
  </html>
  